body{
    background-color: black;
    display: flex;
    margin: 0px;
}
.container1 {
    position:absolute;
    margin: 92px;
    padding: 64px;
    width: 350px;
    height: 350px;
    background-color: #273549;    
}
.container2 {
    position:absolute;
    margin-left: 542px;
    margin-top: -391px;
    padding: 64px;
    width: 350px;
    height: 350px;
    background-color: #273549;

}

h1{
    font-size: 45px;
    margin-bottom: 0px;
}
p{
    padding-top: -250px;
    margin-top: 10px;
    color: grey;
}
.hi{
    color:#4ADF86;
}

.wh{
    color: white;
}

button {
   background-color: #10B981;
   color: white;
   border-color: #10B981;
   border-radius: 6px;
}

#rectangle{
   background-color: lightslategray;
    width: 150px;
    height: 40px;
    margin-top: 35px;
    border-radius: 5px;
    color: white;
    font-size:large;
    text-align: center;
}
#rectangle2{
    background-color: lightslategray;
    width: 150px;
    height: 40px;
    margin-top: -55px;
    margin-left: 200px;
    border-radius: 5px;
    color: white;
    font-size:large;
    text-align: center;
}
#rectangle3{
    background-color: lightslategray;
    width: 150px;
    height: 40px;
    margin-top: 35px;
    border-radius: 5px;
}
#rectangle4{
    background-color: lightslategray;
    width: 150px;
    height: 40px;
    margin-top: -39.5px;
    margin-left: 200px;
    border-radius: 5px;
}
.line{
    width: 400px;
    height: 0;
    background-color: black;
    margin-left: -20px;
    margin-top: 30px;
    color: black;
}
.line2{
    width: 400px;
    height: 0;
    background-color: black;
    margin-left: -20px;
    margin-top: 30px;
    color: black;
}